<div class="hero" *ngIf="categories">
  <div class="hero-form">
    <form [formGroup]="productForm" (submit)="onCreateProduct()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Enter Product Name"
          name="name"
        />
        <mat-error *ngIf="productForm.get('name').hasError('required')"
          >Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          name="description"
          placeholder="Enter the Product Description"
          rows="3"
          cols="40"
        ></textarea>
        <mat-error *ngIf="productForm.get('description').hasError('required')"
          >Description is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Small Description</mat-label>
        <textarea
          matInput
          formControlName="small_description"
          name="small_description"
          placeholder="Enter the Product Abstract Description"
          rows="3"
          cols="40"
        ></textarea>
        <mat-error
          *ngIf="productForm.get('small_description').hasError('required')"
          >Small Description is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option
            *ngFor="let category of categories.rows"
            [value]="category.id"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="specification-form-group"
        formArrayName="specification"
        *ngFor="let item of specification.controls; let i = index"
      >
        <div [formGroupName]="i" class="specification-form-group-form">
          <mat-form-field appearance="outline">
            <mat-label>Label</mat-label>
            <input
              matInput
              type="text"
              name="label"
              formControlName="label"
              placeholder="Specification Name"
            />
            <mat-error
              *ngIf="
                specification.controls[i].get('label').hasError('required')
              "
              >Label is required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Value</mat-label>
            <input
              matInput
              type="text"
              name="value"
              formControlName="value"
              placeholder="Specification Value"
            />
            <mat-error
              *ngIf="
                specification.controls[i].get('value').hasError('required')
              "
              >Value is required</mat-error
            >
          </mat-form-field>
          <button
            type="button"
            (click)="removeSpecification(i)"
            mat-icon-button
            color="warn"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <button
        mat-raised-button
        color="accent"
        type="button"
        class="add-specification-btn"
        (click)="createSpecification()"
      >
        Add Specifications
      </button>

      <div class="image-pick-button">
        <input
          type="file"
          id="files"
          multiple
          (change)="detectFiles($event)"
          accept="image/x-png,image/jpeg"
          #filePicker
        />
      </div>
      <button
        mat-stroked-button
        type="button"
        (click)="filePicker.click()"
        class="image-pick-button-btn"
      >
        Pick Images
      </button>

      <div class="images-preview mt-2" *ngIf="image.length">
        <div class="row">
          <div
            class="col-md-6 col-lg-3 col-xl-2"
            formArrayName="image"
            *ngFor="let photo of image.controls; let i = index"
          >
            <div class="card mb-3" [formGroupName]="i">
              <button
                type="button"
                (click)="removeImage(i)"
                class="btn btn-danger remove-btn"
              >
                x
              </button>
              <img
                [src]="photo.controls.url.value"
                class="card-img-top"
                alt="Image Preview"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="product-form-submit-btn">
        <button
          mat-raised-button
          color="primary"
          [disabled]="productForm.invalid"
          type="submit"
        >
          Create Product
        </button>
      </div>
    </form>
  </div>
  <div class="hero-preview">
    <app-product-card-small
      [productDetails]="productCardSmallDetails"
      [cardHeight]="32"
      [cardWidth]="25"
      actionName="Wishlist"
      actionIcon="favorite"
    ></app-product-card-small>
    <!-- <app-product-card-long
      [productDetails]="productCardLongDetails"
    ></app-product-card-long> -->
  </div>
</div>
<app-loader *ngIf="!categories"></app-loader>
